<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletAchat</servlet-name>
        <servlet-class>Control.ServletAchat</servlet-class>
        <init-param>
            <param-name>jdbcDriver</param-name>
            <param-value>oracle.jdbc.OracleDriver</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletInfoArticle</servlet-name>
        <servlet-class>Control.ServletInfoArticle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCategorie</servlet-name>
        <servlet-class>Control.ServletCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAffichageParCouleur</servlet-name>
        <servlet-class>Control.ServletAffichageParCouleur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConnexion</servlet-name>
        <servlet-class>Control.ServletConnexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLocal</servlet-name>
        <servlet-class>Control.ServletLocal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPayement</servlet-name>
        <servlet-class>Control.ServletPayement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacturePDF</servlet-name>
        <servlet-class>vue.FacturePDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailMonSac</servlet-name>
        <servlet-class>vue.DetailMonSac</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAchat</servlet-name>
        <url-pattern>/ServletAchat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInfoArticle</servlet-name>
        <url-pattern>/ServletInfoArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCategorie</servlet-name>
        <url-pattern>/ServletCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAffichageParCouleur</servlet-name>
        <url-pattern>/ServletAffichageParCouleur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConnexion</servlet-name>
        <url-pattern>/ServletConnexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLocal</servlet-name>
        <url-pattern>/ServletLocal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletPayement</servlet-name>
        <url-pattern>/ServletPayement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacturePDF</servlet-name>
        <url-pattern>/FacturePDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailMonSac</servlet-name>
        <url-pattern>/DetailMonSac</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
