ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow : hidden;
	border: 1px solid #e7e7e7;
	background-color: yellow;
	position: fixed;
	top: 0;
	left:0;
	width: 100%;
}

li {
	float : left;
}

li a {
	display: block;
	padding: 8px;
	font-weight: bold;
}