/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2018-08-24, 10:28:48
    Author     : 1795891
*/

#jumbo{
    background-color: white;
}


	#menu {
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow : hidden;
				border: 1px solid #e7e7e7;
				background-color: yellow;
				position: fixed;
				top: 0;
				left:0;
				width: 100%;
			}

			.nav-item{
				float : left;
			}
			
			.nav-link {
				display: block;
				padding: 8px;
				font-weight: bold;
			}